<div class="container">
    <div class="search">
        <input type="text" placeholder="Search settings">
        <div>15 Setting Found</div>
    </div>

    <div class="tab-menu">
        <div [class.active]="currentTab == 'user'"
        (click)="selectTab('user')"
        > User Settings </div>
        <div [class.active]="currentTab == 'workspace'"
        (click)="selectTab('workspace')" 
        > Workspace Settings </div>
    </div>

    <div class="setting-panel" *ngIf="currentTab == 'user'">
        <div class="settingTreeView">
            <span>Commonly Used</span>
            <tree-root [nodes]="userMenuNodes" 
            [options]="options"></tree-root>

        </div>

        <div class="settingConfigs">
            <h5>Commonly Used</h5>

            <app-config [groupName]="'Files:'" [name]="'Auto Save'" [remark]="'{Modified in:User}'"
                [detail]="'Control auto save of dirty files. Read more about autosave here.'" [value]="'off'">
            </app-config>
            <app-config [groupName]="'Editor'" [name]="'Font Size'" [detail]="'Controls the font size in pixels.'"
                [value]="'12'"></app-config>
            <app-config [groupName]="'Editor'" [name]="'Font Family'" [detail]="'Control the font family.'"
                [value]="'Menlo, Monaco, \'Courier New\' monospace'">
            </app-config>
            <app-config [groupName]="'Editor'" [name]="'Tab Size'"
                [detail]="'The number of spaces a tab is equal to. This setting is overridden based on the file contents when Editor: Detect Indentation is on.'"
                [value]="'4'">
            </app-config>
        </div>
    </div>


    <div class="setting-panel" *ngIf="currentTab == 'workspace'">
        <div class="settingTreeView">
            <span>Commonly Used</span>
            <tree-root [nodes]="workspaceMenuNodes" 
            [options]="options"></tree-root>

        </div>
        <div class="settingConfigs">
            <h5>Commonly Used</h5>

            <app-config [groupName]="'Files:'" [name]="'Auto Save'" [remark]="'{Modified in:User}'"
                [detail]="'Control auto save of dirty files. Read more about autosave here.'" 
                [value]="'on'">
            </app-config>
            <app-config [groupName]="'Editor'" [name]="'Font Size'" [detail]="'Controls the font size in pixels.'"
                [value]="'17'"></app-config>
            <app-config [groupName]="'Editor'" [name]="'Font Family'" [detail]="'Control the font family.'"
                [value]="'Menlo, Monaco, \'Courier New\' monospace'">
            </app-config>
            <app-config [groupName]="'Editor'" [name]="'Tab Size'"
                [detail]="'The number of spaces a tab is equal to. This setting is overridden based on the file contents when Editor: Detect Indentation is on.'"
                [value]="'8'">
            </app-config>
            <app-config [groupName]="'Editor'" [name]="'Render Whitespace'"
            [detail]="'Controls how the editor should render whitespace characters.'"
            [value]="'selection'">
        </app-config>
        </div>
    </div>
</div>



<!-- <app-config 

[groupName]="'Files:'" 
[name]="'Auto Save'"
[remark]="'Modified in:User'"
[detail]="'Control auto save of dirty files. Read more about autosave here.'"
[value]="'off'"
></app-config>
<app-config 
[groupName]="'Editor'" 
[name]="'Font Size'" 
[detail]="'Controls the font size in pixels.'" 
[value]="'12'"></app-config>
<app-config 
[groupName]="'Editor'" 
[name]="'Font Family'" 
[detail]="'Control the font family.'" 
[value]="'Menlo, Monaco, \'Courier New\' monospace'" >
</app-config>
<app-config 
[groupName]="'Editor'" 
[name]="'Tab Size'" 
[detail]="'The number of spaces a tab is equal to. This setting is overridden based on the file contents when Editor: Detect Indentation is on.'" 
[value]="'4'">
</app-config> -->